.AddTaskRow {
    display: flex;
    flex-direction: row !important;
    padding: 5px !important;
    height: 35px;
    cursor: pointer;

    img, p {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }

    img {
        height: 12px;
    }

    p {
        color: #314672;
        line-height: 15px;
        font-size: 10pt;
        font-weight: 600;
    }
}