.TaskSummaryRow {
    height: 40px;
    display: grid !important;
    padding: 15px !important;
    grid-template-columns: auto 20px;

    .left {
        height: 40px;
        display: grid;
        grid-template-rows: 50% 50%;

        .top p {
            color: #3D3F4F;
            font-size: 10pt;
            margin: 0px;
        }

        .bottom {
            display: flex;
            flex-direction: row;

            p, img {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
            }

            img {
                margin-top: 10px;
                height: 10px;
            }

            p {
                line-height: 30px;
                font-size: 9pt;
                font-weight: 400;
                margin-right: 40px;
                color: #B8B8B8;
            }
        }
    }

    .right img {
        height: 12px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
}